<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapsArc: Change Password</title>
    <link rel="icon" href="{{ url_for('static', filename='images/tab_icon.png') }}" type="image/x-icon">
    <meta name="keywords" content="CapsArc, Capstone Project Repository, ASU-CCS Capstone Projects Portal, Information Technology Capstone, IMRaD Thesis Generator, Capstone Project Archive, Capstone Project Access">
    <meta name="Description" content="CAPSARC is an institutional repository for showcasing and accessing Bachelor of Science in Information Technology capstone projects, with an IMRaD generator for streamlined academic research management.">
    <meta http-equiv="refresh" content="60">  <!-- Refresh every 60 seconds -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    
</head>
<body>
    <header>
        <div class="logo"><image src="{{ url_for('static', filename='images/tab_icon.png') }}"><i>CapsArc</i></div>
        <span class="menu-toggle">&#9776;</span>
        <nav>
            <span class="close-toggle">&times;</span>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('browse') }}">Browse</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li>
                    <a href="#" id="profile-toggle"><img src="{{ url_for('static', filename='images/user_icon.png') }}" class="user_icon-img"  alt="user_icon"> {{ session.username }}</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('user_profile') }}">Profile</a>
                        <a href="{{ url_for('user_library') }}">Library</a>
                        <form action="{{ url_for('logout') }}" method="post">
                            <button type="submit"  href="{{ url_for('index') }}" class="logout-bttn">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="change-password">
            <form method="POST" action="{{ url_for('change_password') }}" class="change-password">
                <h2 class="title-form">Change Password</h2>
                {% if error %}
                <p style="color:red">{{ error }}</p>
                {% endif %}
                {% if success %}
                <p style="color:green">{{ success }}</p>
                {% endif %}
                <input type="password" id="current_password" name="current_password" placeholder="Current Password"  required><br>
                <input type="password" id="new_password" name="new_password" placeholder="New Password"  required><br>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"  required><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="school">
                <h3>Aklan State University - College of Computer Studies</h3>
                <p>Roxas Ave. Ext., Andagao, Kalibo, Aklan, 5600</p>
            </div>
            <div class="contacts">
                <div class="phone-icon">
                    <p><img src="{{ url_for('static', filename='images/phone.png') }}" class="contact-icon"  alt="phone_icon">(123) 456 - 789</p>
                </div>
                <div class="mail-icon">
                    <p><img src="{{ url_for('static', filename='images/mail.png') }}" class="contact-icon"  alt="mail_icon"><a href="mailto:asukalibo.capsarc@gmail.com" class="asu-email">asukalibo.capsarc@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div>
            <p>&copy; 2024 CapsArc. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
