<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CapsArc: Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/tab_icon.png') }}" type="image/x-icon">
    <meta name="keywords" content="CapsArc, Capstone Project Repository, ASU-CCS Capstone Projects Portal, Information Technology Capstone, IMRaD Thesis Generator, Capstone Project Archive, Capstone Project Access">
    <meta name="Description" content="CAPSARC is an institutional repository for showcasing and accessing Bachelor of Science in Information Technology capstone projects, with an IMRaD generator for streamlined academic research management.">
    <meta http-equiv="refresh" content="60">  <!-- Refresh every 60 seconds -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="login">
    <form method="post" action="{{ url_for('login') }}" class="login">
        <h2 class="title-form">LOG IN</h2>
        {% if error %}
        <p style="color:red">{{ error }}</p>
        {% endif %}
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required>
        <a href="{{ url_for('reset_password_request') }}">Forgot Password?</a>
        <button type="submit">Log In</button>
        <p class="link">Don't have an account? <a href="{{ url_for('register_user') }}">Sign Up</a></p>
    </form>
    
</body>
</html>
