<!-- templates/reset_password_request.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CapsArc: Password Reset Instructions </title>
    <link rel="icon" href="{{ url_for('static', filename='images/tab_icon.png') }}" type="image/x-icon">
    <meta name="keywords" content="CapsArc, Capstone Project Repository, ASU-CCS Capstone Projects Portal, Information Technology Capstone, IMRaD Thesis Generator, Capstone Project Archive, Capstone Project Access">
    <meta name="Description" content="CAPSARC is an institutional repository for showcasing and accessing Bachelor of Science in Information Technology capstone projects, with an IMRaD generator for streamlined academic research management.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="60">  <!-- Refresh every 60 seconds -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="reset-inst">
    <div class="instructions-container">
        <div class="instructions-content">
            <h2>Password Reset Instructions</h2>
            <p>If you have forgotten your password, please follow the steps below:</p>
            <ol>
                <li>Email us at <a href="mailto:asukalibo.capsarc@gmail.com?subject=Password Reset Request&body=Please%20reset%20my%20password.%0A%0AUsername:%20[Your Username]" class="email-add">asukalibo.capsarc@gmail.com</a>.</li>
                <li>Include your username for verification.</li>
                <li>Wait for response. The admin will reset your password and provide you with a temporary password.</li>
                <li>Log in using the temporary password and change it immediately.</li>
            </ol>
            <p>If you have have any issues, please contact or email us.</p>
            <div class="bck-btn-div">
                <a href="{{ url_for('login')}}"><button class="back-btn">Back</button></a>
            </div>
        </div>
        
    </div>
    
</body>
</html>
